<section class="content-header center-align">
  <h3> Register Your Agency</h3>
</section>


<div class="agency-register-form-wrapper">
  <form class="form-vertical">
    <div class="row">
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-header">
              Agency Details
            </h3>
          </div>
          <div class="agencies-form">
            <div class="box-body">
              <div class="col-md-12">
                <label class="control-label">Agency Name</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Address</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">City</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Zip Code/Postal Code</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Website</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Logo Image</label>
                <input type="file" class="form-control input-sm" placeholder="Name">

              </div>

            </div>

          </div>
        </div>
      </div>


      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-header">
              Agency Details
            </h3>
          </div>


          <div class="agencies-form">
            <div class="box-body">
              <div class="col-md-12">
                <label class="control-label">First Name</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Last Name</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Email</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Mobile Phone</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Work Phone</label>
                <input type="text" class="form-control input-sm" placeholder="Name">

                <label class="control-label">Password</label>
                <input type="password" class="form-control input-sm" placeholder="Name">

                <input type="checkbox" class="form-control input-sm">

              </div>

            </div>

          </div>
          <div class="form-group text-right">
            <button type="submit" class="btn btn-success">Register My Agency</button>
          </div>



        </div>
      </div>

    </div>

  </form>

</div>